# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# Virtual environment
venv/
.env
.env.*

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Temporary / uploads
tmp_upload
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Data files (если не нужны в репозитории)
data/*.csv
data/*.json
data/*.pdf
